
services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_DB: property_db
      POSTGRES_USER: property_user
      POSTGRES_PASSWORD: property_pass
    ports:
      - "5433:5432"
    volumes:
      - pgdata_fresh:/var/lib/postgresql

volumes:
  pgdata_fresh:
