services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_DB: property_db
      POSTGRES_USER: property_user
      POSTGRES_PASSWORD: property_pass
    ports:
      - "5433:5432"             # keep 5433 if you want host Postgres to remain untouched
    volumes:
      - postgres_data:/var/lib/postgresql

  redis:
    image: redis:latest
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--save", "60", "1"]

volumes:
  postgres_data:
  redis_data:
